*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

.cover{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.6),
rgba(0,0,0,.6)),
url("cover.jpg");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.overlay{
animation:fadeUp 1.5s ease;
padding:20px;
}

.small{
letter-spacing:3px;
color:#facc15;
}

.cover h1{
font-size:38px;
margin:15px 0;
color:white;
}

.date{
margin-bottom:25px;
}

.open-btn{
display:inline-block;
padding:14px 30px;
border-radius:50px;
background:gold;
color:black;
font-weight:bold;
text-decoration:none;
transition:.3s;
animation:pulse 2s infinite;
}

.open-btn:hover{
transform:scale(1.05);
}

.open-btn:active{
transform:scale(.9);
}

.section{
padding:70px 20px;
text-align:center;
}

.section h2{
color:gold;
margin-bottom:20px;
}

.card{
max-width:500px;
margin:auto;
padding:25px;
border-radius:20px;
background:#1e293b;
}

.nama{
margin-top:20px;
font-size:28px;
color:#facc15;
}

.countdown{
display:flex;
justify-content:center;
gap:30px;
}

.countdown span{
display:block;
font-size:35px;
font-weight:bold;
color:gold;
}

.maps-btn{
display:inline-block;
margin-top:20px;
padding:14px 25px;
background:#22c55e;
color:white;
text-decoration:none;
border-radius:50px;
transition:.3s;
}

.maps-btn:hover{
transform:translateY(-3px);
}

.gallery{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
max-width:500px;
margin:auto;
}

.gallery img{
width:100%;
border-radius:15px;
transition:.3s;
}

.gallery img:hover{
transform:scale(1.05);
}

footer{
padding:30px;
text-align:center;
color:#94a3b8;
}

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(50px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes pulse{
50%{
transform:scale(1.08);
}
}

@media(max-width:480px){

.cover h1{
font-size:30px;
}

.nama{
font-size:24px;
}

.countdown{
gap:15px;
}

}
.profile-photo{
width:170px;
height:170px;
border-radius:50%;
object-fit:cover;
margin:20px auto;
display:block;
border:5px solid gold;
box-shadow:0 0 25px rgba(255,215,0,.5);
}